* {
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    list-style: none;
    color: #F6EEE8;
    max-width: 100%;
    min-width: none;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 18px 0px 18px;
    background: linear-gradient(45deg, #2e2d30, #161518ef);
    min-height: 60px;
}

header ul {
    position: absolute;
    display: flex;
    gap: 30px;
    right: 3.6%;
}

header #header-logo {
    display: flex;
    align-items: center;
    margin-left: 3.7%;
    width: 230px;
}

header ul .line {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 10px;
   
}

header ul li { 
    font-size: 18.5px;
    font-weight: 500;
    cursor: pointer;

}

header ul li img {
    width: 29px;
    height: 29px;
    transition: 0.4s;
}

header ul li img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0.5px 1.7px #f6eee886);
}

main {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    background: linear-gradient(77deg, #23536B, #5DA8B9);
    min-width: 100vh;
}

main .copy-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    width: 100%;
}

main h1 {
    position: absolute;
    font-family: Poppins, extrabold;
    font-size: 55.5px;
    left: 125px;
    margin-top: 3%;
    line-height: 116.4%;
    
}

main p#mc-1 {
    position: absolute;
    font-family: Poppins, sans-serif;
    font-size: 16.3px;
    left: 125px;
    margin-top: 10.9%;
    line-height: 125.4%;
}

main img {
    position: relative;
    margin-left: 12%;
    width: 22%;
    
}

main .copy-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    width: 100%;
}

main h2 {
    position: absolute;
    font-family: Poppins, extrabold;
    font-size: 37.5px;
    right: 12%;
    margin-top: 5%;
    line-height: 116.4%;
    
}

main p#mc-2 {
    position: absolute;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 17.3px;
    right: 11.7%;
    margin-top: 10.3%;
    line-height: 125.4%;
}

section#tutorial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 100vh;
    margin-top: 19%;
    background: linear-gradient(55deg, #161518f8, #2e2d30);
   
}

section#tutorial .deco-bg {
    position: relative;
    width: 58%;
    height: 1%;
    margin-top: 2%;
    
}

section#tutorial #title-1 h1 {
    position: absolute;
    font-family: Poppins, extrabold;
    font-size: 46px;
    right: 13%;
    margin-top: -27%;
    line-height: 111.4%;
    
}

section#tutorial ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    right: 9.6%;
    margin-top: -18%;
    list-style: none;
 
}

section#tutorial ul li { 
    font-size: 23.5px;
    font-weight: 300;
    padding-left: 36px; /* espaço pro ícone */
    position: relative;
}

section#tutorial ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* centraliza verticalmente */
    width: 24px;   
    height: 24px;  
    background: url("./index-imgs/verify-list.svg") no-repeat center;
    background-size: contain; /* faz caber certinho */
}

section#tutorial .sec-up {
    position: relative;
    z-index: 2;

}

section#tutorial #title-2 h1 {
    position: absolute;
    font-family: Poppins, extrabold;
    font-size: 52px;
    line-height: 111.4%;
    left: 5%;
    margin-top: 3%;
    
}

section#tutorial .linha{
    display: flex;
}

section#tutorial .p-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    margin-left: 1%;
    
}

section#tutorial .homem-section, .p-1{
    width: 100%;
    
}

section#tutorial .homem-section img{
    width: 100%;
}

section#tutorial .p-1 p{
    margin: 10px 80px;
    font-size: 21px;
    
}  

section#planos {
    background: linear-gradient(77deg, #23536B, #5DA8B9);
    height: 72vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;

}


section#planos .gratis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18.6%;
    margin-left: 10%;
}

section#planos .gratis img {
    position: relative;
    z-index: 0;
}

section#planos .gratis h2 {
    position: absolute;
    font-family: Poppins, extrabold;
    font-size: 52px;
    margin-top: -14%;
 
}

section#planos .gratis ul {
    position: absolute;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    margin-top: 6.2%;
    margin-left: -1.5%;
  
}

section#planos .gratis ul li {
    color: #303238e7;
    margin: 23px 0;
    padding-left: 36px; /* espaço pro ícone */
    line-height: 110.5%;
    font-weight: 600;
}

section#planos .gratis button {
    position: absolute;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #F6EEE8;
    background: linear-gradient(180deg, #434347, #18171a);
    border: none;
    padding: 8px 64px;
    border-radius: 22px;
    cursor: pointer;
    margin-top: 19.5%;
    transition: transform 0.3s ease;
}

section#planos .gratis button:hover {
    transform: scale(1.05);
}

section#planos .basico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 36%;
    
}

section#planos .basico img {
    position: relative;
    z-index: 0;
}

section#planos .basico h4 {
    position: absolute;
    font-family: Poppins, semibold;
    font-size: 22.5px;
    margin-top: -26.5%;
    color: #10AACD;
}

section#planos .basico h2 {
    position: absolute;
    font-family: Poppins, extrabold;
    font-size: 52px;
    margin-top: -17%;
}

section#planos .basico ul {
    position: absolute;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    margin-top: 6.2%;
    margin-left: -1.7%;

}

section#planos .basico ul li {
    color: #303238e7;
    margin: 23px 0;
    padding-left: 36px; /* espaço pro ícone */
    line-height: 110.5%;
    font-weight: 600;
}


footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18vh;
    background: linear-gradient(#2e2d30, #161518ef);
}
