* {
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    list-style: none;
    color: #F6EEE8;
    max-width: 100%;
    min-width: none;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 18px 0px 18px;
    background: linear-gradient(45deg, #2e2d30, #161518);
    min-height: 60px;
}

header ul {
    position: absolute;
    display: flex;
    gap: 30px;
    right: 3.6%;
}

header #header-logo {
    display: flex;
    align-items: center;
    margin-left: 3.7%;
    width: 230px;
}

header ul .line {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 10px;
   
}

header ul li { 
    font-size: 18.5px;
    font-weight: 500;
    cursor: pointer;

}

header ul li img {
    width: 29px;
    height: 29px;
    transition: 0.4s;
}

header ul li img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0.5px 1.7px #f6eee886);
}

main {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    background: linear-gradient(77deg, #23536B, #5DA8B9);
    min-width: 100vh;
}

main .copy-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    width: 100%;
}

main h1 {
    position: absolute;
    font-family: Poppins, extrabold;
    font-size: 55.5px;
    left: 125px;
    margin-top: 3%;
    line-height: 116.4%;
    
}

main p#mc-1 {
    position: absolute;
    font-family: Poppins, sans-serif;
    font-size: 16.3px;
    left: 125px;
    margin-top: 10.3%;
    line-height: 125.4%;
}

main img {
    position: relative;
    margin-left: 12%;
    width: 22%;
    
}

main .copy-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    width: 100%;
}

main h2 {
    position: absolute;
    font-family: Poppins, extrabold;
    font-size: 37.5px;
    right: 12%;
    margin-top: 5%;
    line-height: 116.4%;
    
}

main p#mc-2 {
    position: absolute;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 17.3px;
    right: 11.7%;
    margin-top: 10.3%;
    line-height: 125.4%;
}

section#tutorial {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 100vh;
    margin-top: 19%;
    background: linear-gradient(55deg, #161518, #2e2d30);
   
}

section#tutorial .deco-bg {
    position: relative;
    width: 58%;
    margin-top: 2%;
    
}

section#tutorial #title-1 h1 {
    position: absolute;
    font-family: Poppins, extrabold;
    font-size: 43px;
    right: 15%;
    margin-top: -27%;
    
}

section#tutorial ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    right: 15%;
    margin-top: -66%;
    
  
}


