@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(45deg, #3A393C, #1b1a1b);
}

.fundo {
    position: absolute;
    right: -3.5%;
    z-index: -2;
    max-width: fit-content;
}

.logo {
    position: absolute;
    left: 75px;
    margin-top: 40px;
}

.emailsenha {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 150px;
    bottom: 455px;
    width: 550px;
}

.emailsenha input {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
    color: #3A393C;
    background-color: #F6EEE8;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    padding-left: 12px;
}

.emailsenha input::placeholder {
    color: #3A393C;
    font-weight: 450;
    position: absolute;
    left: 25px;
}

.emailsenha input:focus {
    outline: none;
    border: none;
    filter: drop-shadow(0 0 4px #ffffffc2);
}


.esqueci {
    position: absolute; 
    left: 155px;
    bottom: 420px;
    font-weight: bold
}

.esqueci a {
    color: #F6EEE8;
}

.esqueci a:hover {
    text-decoration: none;
}

.logar button {
    position: absolute;
    left: 310px;
    bottom: 220px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    font-size: 40px;
    transition: all 0.3s;
    cursor: pointer;
    padding: 10px 35px;
    color: #3A393C;
    font-weight: 600;
    box-shadow: 0px 10px 20px #141413d5;
}

.logar button:hover {
    background-color: #e6d5d5;
    transform: translateY(-1px);
}


.textos {
    position: absolute;
    right: 135px;
    bottom: 370px;
    color: #F6EEE8;
    text-align: center;
    display: block;
}

.textos h1 {
    font-size: 60px;
    line-height: 112.6%;
    margin-bottom: 30px;
}

.textos p {
    font-size: 16px;
    margin-bottom: 20px;
}